<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../../styles/styleUsers/cadastroUsuaria2.css">
    <link rel="stylesheet" href="../../styles/styleUsers/softSkillsTagInput.css">
    <link rel="stylesheet" href="../../styles/styleUsers/hardSkillsTagInput.css">
    <link rel="stylesheet" href="../../styles/main.css">

    <title>Brazilians in Tech</title>
</head>

<body style="background-image: url('../../images/Background.svg');
 background-repeat: no-repeat; background-size: cover; margin: 0;">


    <nav id="navbar2">
        <img src="../../images/logo.svg" alt="Logo da Brazilians in Tech">
    </nav>



    <div class="container CadastroUsuaria2">
        <div class="row text-center" style="animation: up 0.8s;">
            <h1 class="mt-4">Cadastre seu currículo</h1>

            <div class="mb-4 mt-4">
                <img src="../../images/CadastroUsuaria2ProgressBar.svg" alt="Barra de Progresso - Suas competências"
                    srcset="">
            </div>
        </div>



        <div class="" style="animation: up 2s backwards;">
            <form class="col justify-content-center" action="./UsuáriaCanditada1.html">

                <div class="mb-2 boxInputs">
                    <label style="color: white; margin-left: 5px; margin-top: 10px;" class="row form-label"
                        for="statusCandidata">Situação profissional: </label>
                    <p id="errorStatus" style="color: yellow;" class="d-flex justify-content-center mb-0"></p>
                    <select class="row form-select select" name="Status_candidata" id="statusCandidata">
                        <option value="" disabled hidden selected>Você está...</option>
                        <option value="Estudante">Estudando</option>
                        <option value="Profissional-Industria">Trabalhando na indústria</option>
                        <option value="Profissional-Academica">Trabalhando no setor acadêmico</option>
                        <option value="N">Não estou trabalhando, nem estudando</option>
                    </select>
                </div>



                <div class="mb-2 boxInputs">
                    <label style="color: white; margin-left: 5px; margin-top: 10px;" class="row form-label"
                        for="escolaridadeCandidata">Escolaridade: </label>

                    <p id="errorEscolaridade" style="color: yellow;" class="d-flex justify-content-center mb-0"></p>

                    <select class="row form-select select" name="Escolaridade_candidata" id="escolaridadeCandidata">
                        <option value="" disabled hidden selected>Grau de instrução</option>
                        <option value="EM">Ensino Médio</option>
                        <option value="SI">Superior Incompleto</option>
                        <option value="SC">Superior Completo</option>
                        <option value="PGI">Pós-Graduação Incompleta</option>
                        <option value="PGC">Pós-Graduação Completa</option>
                        <option value="MI">Mestrado Incompleto</option>
                        <option value="MC">Mestrado Completo</option>
                        <option value="DI">Doutorado Incompleto</option>
                        <option value="DC">Doutorado Completo</option>
                    </select>
                </div>



                <div class="mb-2 boxInputs">
                    <label style="color: white; margin-left: 5px; margin-top: 10px;" class="row form-label"
                        for="cargoCandidata">Em que área deseja trabalhar? </label>
                    <p id="errorTrabalho" style="color: yellow;" class="d-flex justify-content-center mb-0"></p>
                    <select class="form-select row select" name="Cargo_candidata" id="cargoCandidata">
                        <option value="" selected disabled hidden>Área que deseja trabalhar</option>
                        <option id='Administrador de Sistemas'>Administrador de Sistemas</option>
                        <option id='Administrador do Banco de Dados (DBA)'>Administrador do Banco de Dados (DBA)
                        </option>
                        <option id='Analista de Mídias Sociais'>Analista de Mídias Sociais</option>
                        <option id='Analista de Segurança de Informação'>Analista de Segurança de Informação</option>
                        <option id='Analista de Sistemas'>Analista de Sistemas</option>
                        <option id='Arquiteto de redes'>Arquiteto de redes</option>
                        <option id='Ciência de dados'>Ciência de dados</option>
                        <option id='Desenvolvedor mobile'>Desenvolvedor mobile</option>
                        <option id='Engenharia de computação'>Engenharia de computação</option>
                        <option id='Engenharia de software'>Engenharia de software</option>
                        <option id='Especialista em e-Commerce'>Especialista em e-Commerce</option>
                        <option id='Gestão de Tecnologia da Informação'>Gestão de Tecnologia da Informação</option>
                        <option id='Jogos Digitais'>Jogos Digitais</option>
                        <option id='Marketing Digital'>Marketing Digital</option>
                        <option id='Profissional Help Desk'>Profissional Help Desk</option>
                        <option id='Programador de Computador'>Programador de Computador</option>
                        <option id='Programador web'>Programador web</option>
                        <option id='Robótica'>Robótica</option>
                        <option id='Segurança da informação'>Segurança da informação</option>
                        <option id='Segurança de sistemas'>Segurança de sistemas</option>
                        <option id='Técnico de informática'>Técnico de informática</option>
                    </select>
                </div>


                <div class="row mt-4 softSkillsContainer">
                    <label style="color: white; margin-left: 5px; margin-top: 10px;" class="row form-label"
                        for="Soft-Skills" class="form-label">Soft-Skills: </label>
                    <p id="errorSoft" style="color: yellow;" class="d-flex justify-content-center mb-0"></p>
                    <input placeholder="Digite a habilidade desejada e pressione ENTER" type="text" name="Soft-Skills"
                        list="softSkillsList" id="soft-skills" class="form-control">
                    <datalist id="softSkillsList">
                        <option value='Boa comunicação verbal'>
                        <option value='Boa comunicação escrita'>
                        <option value='Trabalho em equipe'>
                        <option value='Solução de problemas'>
                        <option value='Gerenciamento de tempo'>
                        <option value='Pensamento crítico'>
                        <option value='Boa tomada de decisões'>
                        <option value='Organização'>
                        <option value='Gerenciamento de estresse'>
                        <option value='Adaptabilidade'>
                        <option value='Gestão e resolução de conflitos'>
                        <option value='Criatividade'>
                        <option value='Desenvoltura'>
                        <option value='Persuasão'>
                        <option value='Abertura a críticas'>
                        <option value='Atenção a detalhes'>
                        <option value='Ética no trabalho'>
                        <option value='Resiliência'>
                        <option value='Definição de metas'>
                        <option value='Otimismo'>
                        <option value='Imaginação'>
                        <option value='Inovação'>
                        <option value='Autenticidade'>
                        <option value='Generosidade'>
                        <option value='Tolerância'>
                        <option value='Humor'>
                        <option value='Diplomacia'>
                        <option value='Disciplina'>
                        <option value='Comprometimento'>
                        <option value='Responsabilidade'>
                        <option value='Introspecção'>
                        <option value='Despersonalização'>
                        <option value='Inteligência emocional'>
                        <option value='Capacidade de lidar com a diversidade'>
                    </datalist>
                </div>

                <div class="row mt-4 hardSkillsContainer">
                    <label style="color: white; margin-left: 5px; margin-top: 10px;" class="row form-label"
                        for="Hard-Skills" class="form-label">Hard-Skills: </label>
                    <p id="errorHard" style="color: yellow;" class="d-flex justify-content-center mb-0"></p>
                    <input placeholder="Digite a habilidade desejada e pressione ENTER" type="text" name="Hard-Skills"
                        list="hardskillslist" id="hard-skills" class="form-control">
                    <datalist id="hardskillslist">
                        <option value="JavaScript"></option>
                        <option value="HTML/CSS"></option>
                        <option value="Python"></option>
                        <option value="SQL"></option>
                        <option value="Java"></option>
                        <option value="Node.js"></option>
                        <option value="TypeScript"></option>
                        <option value="C#"></option>
                        <option value="Bash/Shell"></option>
                        <option value="C++"></option>
                        <option value="PHP"></option>
                        <option value="PowerShell"></option>
                        <option value="C"></option>
                        <option value="Go"></option>
                        <option value="Kotlin"></option>
                        <option value="Rust"></option>
                        <option value="Ruby"></option>
                        <option value="Assembly"></option>
                        <option value="Swift"></option>
                        <option value="R"></option>
                        <option value="VBA"></option>
                        <option value="Matlab"></option>
                        <option value="Groovy"></option>
                        <option value="Objective-C"></option>
                        <option value="Scala"></option>
                        <option value="Perl"></option>
                        <option value="Haskell"></option>
                        <option value="Delphi"></option>
                        <option value="Clojure"></option>
                        <option value="Elixir"></option>
                    </datalist>
                </div>

                <div class="mb-3 curriculo">
                    <img src="../../images/DocumentsIcon.svg" alt="">
                    <label for="formFile" class="button_top">Carregue seu curriculo</label>
                    <input class="form-control" type="file" id="formFile" hidden onchange="onChange()">
                    <p id="nameFile">*Apenas arquivos PDF</p>
                </div>


                <!-- 
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btnproprio">Concluir cadastro</button>
                </div> -->
            </form>

            <!--  TEMPLATE BOTÃO VOLTAR -->
            <div class="col d-flex align-items-center justify-content-center">
                <button onclick="catchUserData2()" class="btnproprio">Completar cadastro</button>
                <!---->

                <a class="row" style="margin-left: 30px;" href="../Users/cadastroUsuaria1.html">Voltar</a>
            </div>

            <div class="backPopup">
                <div class="popup" id="popup">
                    <img src="../../images/feliz (1).png">
                    <h2>Obrigada pelo seu registro!</h2>

                    <button type="button" onclick="redirecionar()">Continuar</button>
                </div>
            </div>

        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-compat/3.0.0-alpha1/jquery.min.js"></script>

    <script>
        $(document).ready(function () {
            $('input').keypress(function (e) {
                var code = null;
                code = (e.keyCode ? e.keyCode : e.which);
                return (code == 13) ? false : true;
            });
        });

        let popup = document.getElementById("popup");


        function openPopup() {
            $('body').attr('class', 'bg-image');
            popup.classList.add("open-popup");
        }

        function redirecionar() {
            window.location.replace("/views/index.html")
        }
    </script>


    <script src="../../script/forms.js"></script>
    <script src="../../script/tagInputs/softSkillsTagInput.js"></script>
    <script src="../../script/tagInputs/hardSkillsTagInput.js"></script>
</body>


</html>