<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>

<body onload="logadoUser()">


    <p id="nome_candidataLogada"></p>
    <p id="email_candidataLogada"></p>
    <p id="softskill_candidataLogada"></p>
    <p id="hardskill_candidataLogada"></p>

</body>

<script src="../script/forms.js"></script>

</html>