@import url('https://fonts.googleapis.com/css2?family=Cabin:ital@0;1&family=Roboto+Slab:wght@800&family=Ubuntu:wght@300&display=swap');

/* :root{} */

body{
    background-image: url(../../images/Background.svg);
    
}

h1{
    color: white;
    font-family: 'Roboto Slab';
    text-align: center;
}

/* .titulo-da-pagina{
    font-family: 'Roboto Slab', serif;
    text-align: center; 
    font-size: 35px;
    color: white;
} */

.caixa{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-bottom: 10px;
}

.caixa2{
    width: 430px;
    height: 70px;
    border-radius: 11px;
    /* margin-bottom: 10px; */
    text-align: center;  
}

.caixa3{
    width: 314px;
    height: 70px;
    border-radius: 11px;
    border-bottom: 10px;  
}

.caixa4{
    width: 113px;
    height: 70px;
    border-radius: 11px; 
    border-bottom: 10px; 
}

.impForcaSenha{
    font-family: 'Roboto Slab';
    text-align: center;
}

form i{
    cursor: pointer;
    color: white;
    align-content: center;
}

.avanço1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
    margin-top: 15px;
}

.avanço{
    font-family: 'Roboto Slab', serif;
    border-radius: 11px;
    border: var(--cor--tercia);
    padding: 10px;
    background-color:#ffff;
    color: var(--cor--principal);
    text-align: center;
}

.avanço:hover {
    background-color: rgb(211, 211, 211);
    transform: scale(1.08);
    transition: 1s;
}

@media only screen and (max-width: 500px) {
    .caixa2{
        width: 80%;
    }

    .boxInputs{
        width: 80%;
    }

    .boxInputs .caixa3{
        width: 63%;
    }

    /* .boxInputs .caixa4{
        width: 40%;
    } */

    nav{
        display: flex;
        justify-content: center;
        align-items: center;
    }
   
 }