@import url('https://fonts.googleapis.com/css2?family=Cabin:ital@0;1&family=Roboto+Slab:wght@800&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

body { 
    margin: 0;
    color: white;
    overflow-x: hidden;
    
}

.CadastroUsuaria2 {
    width:430px;
    justify-content: center;
}

h1{
    font-family: 'Roboto Slab', serif;
    text-align: center; 
    font-size: 35px;
    font-weight: 800;
    color: white;
}

.select {
    border: none;
    border-radius: 11px;
    margin-bottom: 11px;
    height: 70px;
    text-align: center;
    color: gray;
    width: 430px;
    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


input[type="text"] {
    height: 70px;
    border-radius: 11px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* From uiverse.io by @Voxybuns */
.button_top {
    /* Variables */
   --button_radius: 0.75em;
   --button_color: rgba(255, 255, 255, 0.3);
   --button_outline_color: #F3C42E;
   font-size: 20px;
   font-weight: bold;
   font-family: 'Roboto Slab';
   border: none;
   border-radius: var(--button_radius);
   background: var(--button_outline_color);
   margin: 12px;
  }
  
  .button_top {
   display: block;
   box-sizing: border-box;
   border: 2px solid var(--button_outline_color);
   border-radius: var(--button_radius);
   padding: 0.25em 1.0em;
   background: var(--button_color);
   color: white;
   transform: translateY(-0.2em);
   transition: transform 0.1s ease;
  }
  
  .button_top:hover {
    /* Pull the button upwards when hovered */
   transform: translateY(-0.33em);
   background-color: rgba(255, 255, 255, 0.5);
  }
  
  button:active .button_top {
    /* Push the button downwards when pressed */
   transform: translateY(0);
  }

.curriculo {
    border: 6px dashed white;
    padding: 50px;
    border-radius: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 290px;
    margin: 16px 0;
}


.choose::-webkit-file-upload-button {
    visibility: hidden;
}


.submitBtn {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    font-family: 'Roboto Slab';
    text-decoration: underline;
    margin: 40px;
    width: 85%;
}

.submitBtn:hover {
    color: rgb(217, 217, 217);
}

.popup{
    width: 400px;
    background: rgba(217, 217, 217,0);
    background-color: #fff;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    border: 5px solid #401511;
    box-shadow: 2px 4px 12px 3px rgba(0, 0, 0, 0.25);
}

/* .bg-image{
    filter: blur(8px);
} */

.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%,60%) scale(1);
    
    
}

.popup img{
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.popup button{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #6fd649;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}



@media only screen and (max-width: 600px) {
    .select{
        width: 80%;
    }

    form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    body{
        height: 200%;
    }

    nav{
        display: flex;
        justify-content: center;
        align-items: center;
    }
 }

 .avanço1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
    margin-top: 15px;
}

.avanço{
    font-family: 'Roboto Slab', serif;
    border-radius: 11px;
    border: var(--cor--tercia);
    padding: 10px;
    background-color:#ffff;
    color: var(--cor--principal);
    text-align: center;
}

.avanço:hover {
    background-color: rgb(211, 211, 211);
    transform: scale(1.08);
    transition: 1s;
}