body{
    background-color:#fbfbfb;
    overflow-x: hidden;
}

.body {
    margin-left: 3em;
}

h1 {
    font-family: 'Roboto Slab';
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.subtitulo {
    color: #8C8C8C;
    font-family: 'Nunito';
    font-weight: 400;
    display: flex;
    justify-content: center;
}

.background{
    background-image: url("../../images/Background.svg");
    height: 100vh;
}

.paragrafo {
    text-align: start;
    margin: auto;
    margin-bottom: 25px;
    font-family: 'Nunito';
    font-size: 18px;
}

h4{
    text-decoration: underline;
    font-weight: bold;
}

.espacamento {
    display: flex;
    gap: 10px;
}

.skill {
    border: 3px solid #f3c42e;
    padding: 6px 17px;
    margin-top: 10px;
    background: rgba(233, 184, 51, 0.31);
    font-family: 'Nunito';
    font-weight: 600;
}

.voltarbut {
    border: 1px solid black;
    border-radius: 21px;
    font-size: 22px;
    padding: 12px;
    background-color: transparent;
}

.aplicarbut{
    border: 0px solid black;
    border-radius: 21px;
    background-color: #69B748;
    color: white;
    font-size: 29px;
}

.aplicarbut:hover {
    background-color: #549737 ;
    transition: 1s;
}

.voltarbut:hover {
    background-color: #dfdbdb;
    transition: 1s;
}

.body .actions {
    margin-top: 30px;
    text-align: center;
    gap: 20px;
}

.popup{
    width: 400px;
    background: rgba(217, 217, 217,0);
    backdrop-filter: blur(1rem);
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    border: 5px solid #401511;
    box-shadow: 2px 4px 12px 3px rgba(0, 0, 0, 0.25);
}

/* .bg-image{
    filter: blur(8px);
} */

.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
    z-index: 1;
}

.popup img{
    height: 100px;
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    
}

.popup h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.popup button{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #6fd649;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}


.popupclose{
    display: none;
}
@media only screen and (max-width: 600px) {
   .but{
       margin: 20px;
   }

   .background {
        display: none;
   }

   .body {
       margin-left: 0;
   }
   body{
       overflow-x: hidden;
   }
 }