@import url('https://fonts.googleapis.com/css2?family=Cabin:ital@0;1&family=Roboto+Slab:wght@800&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root {
    --cor--principal: #530084;
    --cor--secundaria: #1A1A1A;
    --cor--tercia:#F3C42E;
    --cor--quarta:#69B748;
}
nav{
    background-color: #FFFFFF;
    height: 4.7em;
    
}

.description {
    padding: 3px;
    margin-top: 10px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    
    color: #000000;
    
}    

.titles {
    margin-top: 10px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    
    color: #000000;

}

#name {
    font-family: 'Roboto Slab';
    font-style: normal;
    color: #280044;
}

.firstprofile{
    margin-left: 80px;
}

#img{
    margin-left: 25px;
}

.softSkillTag {
    background: rgba(233, 184, 51, 0.31);
    color: black;

    border: 3px solid #F3C42E;
    border-radius: 20px;

    font-size: 0.8rem;
    padding: 3px;
    
    display: flex;
    align-items: center;
    
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-top: 30px;

    width: auto;
    animation: up 0.7s;

    cursor: default;
}

.popup{
    width: 400px;
    background: rgba(217, 217, 217,0);
    backdrop-filter: blur(1rem);
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    border: 5px solid #401511;
    box-shadow: 2px 4px 12px 3px rgba(0, 0, 0, 0.25);
}

/* .bg-image{
    filter: blur(8px);
} */

.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
    z-index: 1;
}

.popup img{
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.popup button{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #6fd649;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.popupclose{
    display: none;
}