@import url('https://fonts.googleapis.com/css2?family=Cabin:ital@0;1&family=Roboto+Slab:wght@800&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


body {
    /* background-color: #530084; */
    background-image: url("../images/Background.svg");
    background-size: cover;

}

.tituloPagina {
    font-family: 'Roboto Slab', serif;
    text-align: center;
    font-size: 25px;
    color: white;
    margin-top: 5vw;
}

.subTitulo {
    font-family: 'Nunito', sans-serif;
    text-align: center;
    color: white;
}



.submitBtn {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    font-family: "Roboto Slab";
    text-decoration: underline;
    width: 85%;
    bottom: 2px;
}

.submitBtn:hover {
    color: rgb(217, 217, 217);
}

/* .container{
    height: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 10vw;
    margin-bottom: 10vw;
    margin-left: 10vw;
    margin-right: 10vw;
} */


.h1 {
    font-family: 'Roboto Slab', serif;
}

.class candidata {
    font-family: 'Nunito', sans-serif;
    margin-bottom: 10px;
}

.button {
    border-radius: 15px;
}

.section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 50px 0;
}

.child {
    height: 280px;
    width: 500px;
    position: relative;
}

.child p {
    font-weight: 10px;
    font-size: small;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    border-radius: 20px;
    cursor: pointer;
    border: 3px solid transparent;
    outline: none;
    box-shadow: 15px 15px 20px rgba(2, 28, 53, 0.05);
}

input[type="checkbox"]:hover {
    transform: scale(1.08);
    transition: 0.4s;
}

input[type="checkbox"]:checked {
    border: 5px solid #f3c42e;
}


label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
    cursor: pointer;
}

input[type="checkbox"]:checked+label .icon {
    animation: grow 0.5s;
}

@keyframes grow {
    50% {
        transform: scale(1.2);
    }
}

label p {
    text-align: center;
    width: 80%;
}


@media only screen and (max-width: 600px) {

    .child {
        text-align: center;
    }

    .icon {
        margin-right: 18px;
    }

    .responseH1 {
        margin-right: 15px;
    }

    .responseP {
        margin-right: 15px;
    }

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}