@import url('https://fonts.googleapis.com/css2?family=Cabin:ital@0;1&family=Roboto+Slab:wght@800&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body{
    background-color: #530084;
    color: white;
    overflow-x: hidden;
}


.tituloPagina{
    font-family: 'Roboto Slab', serif;
    text-align: center; 
    font-size: 32px;
    color: white;
}

.geral{
    
    justify-content: center;
}

.email{
    text-align: center;
    height: 53px;
    border: none;
    margin-bottom: 12px;
    border-radius: 20px;
}

.cult{
    text-align: center;
    height: 213px;
    border-radius: 31px;
    border: none;
}

.arquivo{
    padding: 50px;
    border: 6px dashed white;
    border-radius: 11px;
    display: flex;
    font-family: 'Roboto Slab', serif;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 16px 0;
}

.arquivo.h1{
    align-items: center;
    font-family: 'Nunito', sans-serif;
}

.registerContainer {
    align-items: 500px;
    flex-direction: column;
    display: flex;
    height: 100%;
    font-family: 'Nunito', sans-serif;
}

.vagas{
    width: 100%;
    margin: 0;
    display: flex;
}

.form-label{
    color: white;
    margin-left: 20px;
}

button {
    background: transparent;
    border: none;
    margin-left: 20px;
}

button:hover{
    transform: scale(1.08);
    transition: 2s;
}
.row>* { 
    width: auto;
}
.add{
    height: 72px;
    margin-top: 10px;
}

.btnpro{
    font-size: 1.5em;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
}

.btnpro:hover {
    cursor: pointer;
    transform: scale(1.03);
    transition: 1s;
}

.back {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 36px;
}

.card {
    background-color: white;
    color: black;
    box-shadow: 2px 4px 12px 3px rgba(0, 0, 0, 0.25);
    border-radius: 36px;
    padding: 30px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.card:hover {
    transform: scale(1.02);
    transition: 0.7s;
    cursor: pointer;
}

.card h1 {
    font-family: 'Roboto Slab';
    font-size: 30px;
}

.card .icons {
    text-align: end;
}

.card .icons img {
    height: 30px;
    padding-left: 18px;
}

@media only screen and (max-width: 600px) {

    nav{
        display: flex;
        justify-content: center;
        align-items: center;
    }

}


.profile {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 20px;
    margin-right: 20px;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
}

.title h2 {
    font-family: 'Roboto Slab';
    color: #fff;
    margin-bottom: 5px;
    text-align: right;
}

.title h3 {
    font-family: 'Roboto Slab';
    color: #fff;
    font-size: 18px;
    text-align: right;
}