<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../../styles/styleRecruiter/cadastroRecrutadora4.css">
    <title>Tela Cadastro Recrutadora</title>
</head>

<body class="bg-image" style="background-image: url('../../images/Background.svg');
 background-repeat: no-repeat; background-size: cover; margin: 0;">

    <nav>
        <img class="log" src="../../images/logo.svg">
    </nav>



    <form class="upload" action="./vagaCadastrada.html" method="get">
        <div class="geral container">
            <div class="row d-sm-flex justify-content-center">

                <div class="tituloPagina mt-4 mb-4">
                    <h1>Perfil da empresa</h1>
                </div>

                <!-- <div class="col-lg-4 col-sm-12">

                    <div class="arquivo">
                        <img src="../../images/InsertPhoto.svg" alt="Selecione um arquivo png" id="imgPhoto">
                        <h1>Upload <i class="fas fa-cloud-upload-alt"></i></h1>
                        <label for="form-logo" class="button_top">Carregue sua Logo</label>
                        <input id="form-logo" type="file" name="input_logo" placeholder="Selecione o arquivo" hidden>
                    </div>


                </div> -->



                <h1 class="tituloPagina mt-5">Vagas Cadastradas</h1>
                <div class="row back">
                    <div class="card" style="width: 445px;">
                        <h1>Desenvolvedora Front-End</h1>
                        <p>Descrição da vaga</p>

                        <div class="icons">
                            <a href="./vagaCadastrada.html">
                                <img src="../../images/PeopleIcon.svg"
                                    style="filter: invert(19%) sepia(39%) saturate(6051%) hue-rotate(271deg) brightness(62%) contrast(125%);"
                                    alt="">
                                <img src="../../images/EditIcon.svg"
                                    style="filter: invert(93%) sepia(20%) saturate(4786%) hue-rotate(336deg) brightness(106%) contrast(91%);"
                                    alt="">
                                <img src="../../images/DeleteIcon.svg"
                                    style="filter: invert(41%) sepia(53%) saturate(6570%) hue-rotate(343deg) brightness(96%) contrast(99%);"
                                    alt="">
                            </a>
                        </div>
                    </div>

                </div>










    </form>
    </div>
</body>

</html>