<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="usuariaCandidata3.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="main.css">
    <script src="modal.js"></script>
</head>

<body>
    <nav class="shadow mb-2 bg-body rounded"> <img src="logo.svg" alt="Logo da brazilians in tech"></nav>


    <div class="row">
        <div class="col-3 background">
            <div class="firstprofile">
                <div id="img">
                    <img src="CandidataProfile.svg" alt="Ícone">
                </div>

                <h4 id="name">Izabella Togni</h4>
            </div>


        </div>

        <div class="col col-sm-12 col-lg-7">
            <div class="container">
                <h5 class="titles">Localização: <img src="EditIcon.svg" width="20px" height="13px"
                        alt="Editar informação"></h4>
                    <p class="description" id="local">São Paulo-SP</p>

                    <h5 class="titles">Ocupação: <img src="EditIcon.svg" width="20px" height="13px"
                            alt="Editar informação"></h4>
                        <p class="description" id="ocup">Desenvolvedora Sênior</p>

                        <h5 class="titles">Grau de Instrução: <img src="EditIcon.svg" width="20px" height="13px"
                                alt="Editar informação"></h5>
                        <li class="description" id="grau">Graduação Completa</li>

                        <h5 class="titles">Hard Skills: <img src="EditIcon.svg" width="20px" height="13px"
                                alt="Editar informação"></h5>
                        <p class="description" id="HSK"></p>

                        <h5 class="titles">Soft Skills: <img src="EditIcon.svg" width="20px" height="13px"
                                alt="Editar informação"></h5>
                        <p class="description" id="SSK"></p>

                        <button type="button" onclick="modall()" class="btn btn-light">EXCLUIR CONTA</button>


            </div>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>

</body>

</html>